@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --danger: #ec1a33;
  --warning: #fea16d;
  --white: #fff;
  --black: #141414;
}

picture {
  display: block;
  position: relative;
  overflow: hidden;
}

body {
  position: relative;
  color: #555;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.9rem;
  }

  h3 {
    font-size: 3.3rem;
  }

  h4 {
    font-size: 2.8rem;
  }

  h6 {
    font-size: 1.6rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
}

img {
  max-width: 100%;
}
